.banner {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-position: top center;
    background-size: cover;
    align-items: center;
}

.container {
    margin: 0 auto;
    align-content: center;
    padding: 50px;
    word-break: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 1000px) {
    .container {
        padding-top: 2px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0px;
        margin: 0px 0px;
    }
}