.ref_container {
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 50px;
}

.text {
    color: var(--accent-color);
    font-size: 1.5rem;
}

.normal_text {
    color: var(--dark-shades);
    font-size: 1.5rem
}

.button {
    background-color: var(--accent-color);
    color: white;
    font-size: 1.5rem;
    border-radius: var(--main-radius);
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.02);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: var(--main-width);
    margin: 0 auto;
}

.card {
    display: flex;
    border-radius: var(--main-radius);
    border: solid 2px var(--secondary-background-color);
    /* box-shadow: 0px 4px 4px 4px var(--secondary-background-color); */
    padding: 20px;
    gap: 50px;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 960px) {
    .card {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .ref_container {
        flex-direction: column;
        gap: 10px
    }

    .card {
        flex-direction: column;
        text-align: center;
        padding: 0
    }
}