.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: var(--main-width);
}

table, th {
    border: solid 2px var(--secondary-background-color);
    border-collapse: collapse;
}

tr {
    padding: 5px
}

.tr_gray {
    background-color: var(--secondary-background-color);
}
